<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<> For more information on Entity Framework configuration,entityFramework visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Hotel_Managment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
	<!--metadata=res://*/dbhotel.csdl|res://*/dbhotel.ssdl|res://*/dbhotel.msl
	   
	   <add name="HotelmanagmentEntities"
			 connectionString=";provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Hotelmanagment;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	   -->
	<connectionStrings>
     <add name="HotelmanagmentEntities" connectionString="Data Source=.;Initial Catalog=Hotelmanagment;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.EntityClient" />
     <add name="HotelmanagmentEntities1" connectionString="Data Source=.;Initial Catalog=Hotelmanagment;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.EntityClient" />
     <add name="Hotel_Managment.Properties.Settings.HotelmanagmentConnectionString"
         connectionString="Data Source=.;Initial Catalog=Hotelmanagment;Integrated Security=True;Pooling=False"
         providerName="System.Data.SqlClient" />
     <add name="Hotel_Managment.Properties.Settings.HotelmanagmentConnectionString1"
         connectionString="Data Source=.;Initial Catalog=Hotelmanagment;Integrated Security=True"
         providerName="System.Data.SqlClient" />
 </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>


    <userSettings>
        <Hotel_Managment.Properties.Settings>
            <setting name="checksaveaccount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>""</value>
            </setting>
        </Hotel_Managment.Properties.Settings>
    </userSettings>
</configuration>